/* タブレット */
@media screen and (max-width: 768px) {
 
    /* 全体 */
   .top-wrap {
      margin-bottom: 0;
      height: 35rem;
    }
    .main-btn {
      padding: 1rem 1.5rem;
    }
    .message-wrap {
      padding: 3rem;
    }
    .about-message,
    .sec-message,
    .main-btn {
      font-size: 1.2rem;
    }
  
    /* ヘッダー */
    .header {
      height: 5rem;
    }
    .header-title {
      font-size: 1.8rem;
    }
    /* ハンバーガーメニュー */
    .nav-menu {
     display: none; 
    }
    #show {
      display: block;
    }
    #show,
    #close {
      font-size: 3vw;
      color: #fff;
      cursor: pointer;
    }
    #bur-menu-wrap {
      background: rgba(0, 0, 0, 0.7);
      font-size: 1.4rem;
      position: fixed;
      width: 100%;
      height: auto;
      z-index: 9999;
      color: #fff;
      text-align: center;
      padding-bottom: 2rem;
    }
    #bur-header-wrap {
      max-width: 95%;
      margin: 1rem auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #bur-header-title {
      display: inline-block;
      font-size: 2.4vw;
    }
    #bur-header-title:before {
      content: '暮らしの体験宿 ';
      font-size: 1.5vw;
    }
    #bur-header-title:after {
      display: block;
      font-size: 1.2vw;
      content: '-Yakushima Lodge& Food Atelier-';
    }
    #bar-smp-title {
      display: none;
    }
    li {
      display: block;
      font-size: 2vw;
      margin: 1.5rem 0;
    }
    .nav-li:after {
      font-size: 1.5vw;
    }
    .header-sns-wrap {
      position: absolute;
      right: 5rem;
      bottom: 1rem;
    }
    .top-sns-img {
      width: 8vw;
      padding-left: 3rem;
    }
    
  
    /* about */
    .about {
      padding-bottom: 3rem;
    }
    .about-message {
      line-height: 2rem;
    }
    .about-left {
      position: absolute;
      top: 5rem;
      left: 5rem;
      z-index: 10;
    }
    .about-right {
      position: relative;
      padding-top: 17rem;
      margin-left: auto;
    }
    .about-btn {
      padding: 4rem 0 0 5rem;
    }
    .ar-main-img {
      width: 30rem;
    }
    .ar-sub-img {
      width: 15rem;
      position: absolute;
      top: 30rem;
      left: -10rem;
      z-index: 5;
    }
  
  }
  
  